.root {
  position: relative;

  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
  }

  .nav {
    position: absolute;
    right: 50px;
    top: 50px;
  }

  .tittle {
    position: absolute;
    top: 60px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #42567a;
  }

  .number {
    position: absolute;
    right: 71px;
    top: 63px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #42567a;
  }
}
