.root {
  position: relative;

  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
  }

  .nav {
    position: absolute;
    right: 100px;
    top: 10px;
    
  }

  .tittle {
    position: absolute;
    top: 25px;
    right: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #42567a;
  }

  .minCircle {
    transition: r 0.3s, fill 0.3s; 
  }
  
  .minCircle:hover {
    r: 28; 
    fill: #fff; 
    stroke-width: 2px;
    cursor: pointer;
    
  }

  
}

@media (max-width: 1000px) {
   
  .root{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
}

