

  .root {
    display: flex;
    align-items: center;
  
    .container {
      display: flex;
      justify-content: flex-start; 
      overflow: hidden;
      overflow-x: hidden;
      cursor: grab;
      user-select: none 
    }

    .arrow {
      display: flex;
      background-color: #fff;
      border: transparent;
      border-radius: 50%;
      cursor: pointer;
      font-size: 18px;
      color: #42567A;
      padding: 10px 15px;
      align-items: center;
      
    }
  
    .arrow:hover{
      background-color: #c9cdd4;
    }

    

  }
  
  @media (max-width: 1000px) {
    .root {
      margin-top: 55px;
      position: relative; 
    }

    .container {
      margin-top: 55px;
    }

  
    .root::before {
      content: '';
      display: block;
      position: absolute;
      top: -10px; 
      left: 0;
      width: 100%;
      height: 1px;
      background: #c7cdd9;
    }
  }