body {
  font-family: PT Sans , sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f4f5f9;

  .wrapper__pagination{
    display: flex;
    flex-direction: column;

    

    @media (max-width: 1000px) {
      flex-direction: column-reverse;
     
    }
  }

  @media (max-width: 1000px) {
    margin: 0 25px;
   
  }

}

